@import url("mui.min.css");
html,
body {
	height: 100%;
	color: #333;
	font-size: 15px;
	--theme: #00A65A;
}

input,
p {
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
}

i {
	font-style: normal;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

div[placeholder]:empty:before {
	content: attr(placeholder);
	color: #999;
	opacity: 0.54;
	font-size: inherit;
}

::-webkit-input-placeholder {
	color: #999;
	opacity: 0.54;
	font-size: inherit;
}

:-moz-placeholder {
	color: #999;
	opacity: 0.54;
	font-size: inherit;
}

::-moz-placeholder {
	color: #999;
	opacity: 0.54;
	font-size: inherit;
}

:-ms-input-placeholder {
	color: #999;
	opacity: 0.54;
	font-size: inherit;
}

#app {
	height: 100%;
}

.mui-bar-nav {
	color: #fff;
	background-color: var(--theme);
}

.mui-bar-nav>* {
	color: inherit!important;
}

.mui-bar-nav>.mui-btn {
	padding-right: 5px;
}

.mui-scroll-wrapper {
	top: 44px;
	padding: 10px 0 20px 0;
}


/* 自定义li */

.mui-table-view.cust {
	margin-bottom: 10px;
}

.mui-table-view.cust>.mui-table-view-cell>label {
	display: inline-block;
	padding: 0;
	width: 100px;
	line-height: inherit;
}

.mui-table-view.cust>.mui-table-view-cell>input {
	margin: 0;
	padding: 0;
	height: 22px;
	line-height: 22px;
	border: 0;
	background-color: transparent;
}

.mui-table-view.cust>.mui-table-view-cell>input.mui-input-clear {
	padding-right: 20px;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-icon-clear {
	top: 12px;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-pull-right {
	width: calc(100% - 100px - 5px);
	text-align: right;
	word-break: break-all;
	color: #999;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-navigate-right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: inherit;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-navigate-right:after {
	right: 0;
	left: 0;
	width: 10px;
	margin: auto;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-navigate-right.mui-active {
	background-color: transparent;
}

.mui-table-view.cust>.mui-table-view-cell>.mui-navigate-right+.mui-pull-right {
	padding-right: 10px;
}

.mui-table-view.cust>.mui-table-view-cell.attach {}

.mui-table-view.cust>.mui-table-view-cell.attach img,
.mui-table-view.cust>.mui-table-view-cell.attach .btn-add {
	display: inline-block;
	margin: 4px;
	margin-left: 0;
	width: 60px;
	height: 60px;
	border: solid 1px #eee;
	vertical-align: top;
}

.mui-table-view.cust>.mui-table-view-cell.attach .btn-add {
	position: relative;
	color: #eee;
	line-height: 60px;
	text-align: center;
	border-color: inherit;
	font-size: 30px;
}

.mui-table-view.cust>.mui-table-view-cell.attach .btn-add:active {
	background-color: #f8f8f8;
}

.mui-table-view.cust>.mui-table-view-cell .mui-radio {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}
.mui-table-view.cust>.mui-table-view-cell .mui-radio > input {
	position: relative;
	top: unset;
	right: unset;
	vertical-align: middle;
}
.mui-table-view.cust>.mui-table-view-cell .mui-radio > label {
	float: none;
	margin-left: 5px;
	width: unset;
	padding-right: 0;
	vertical-align: middle;
}




/*自定义底部导航中的按钮*/

.mui-bar-tab .mui-tab-item-cust {
	display: table-cell;
	overflow: hidden;
	width: 1%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #929292;
}

.mui-bar-tab .mui-tab-item-cust .mui-icon {
	top: 3px;
	width: 24px;
	height: 24px;
	padding-top: 0;
	padding-bottom: 0;
}

.mui-bar-tab .mui-tab-item-cust .mui-icon~.mui-tab-label {
	font-size: 11px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.theme {
	border: 0;
	color: #fff;
	background-color: var(--theme);
}

.theme:enabled:active {
	background-color: var(--theme)!important;
	filter: sepia(50%);
}


/*下拉滚动条样式 V */

.mui-bar-nav~.mui-content .mui-slider.mui-fullscreen {
	top: 0px;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	margin: 0;
}


/*.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}*/

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	padding: 0;
	background-color: #efeff4;
}

.mui-scroll-wrapper {
	padding: 0;
}

.mui-segmented-control .mui-control-item {
	line-height: 44px;
}


/*下拉滚动条样式 ∧*/

.mui-table-view-cell.mui-collapse {
	padding-left: 0;
	padding-right: 0;
}

.mui-table-view-cell.mui-collapse>a {
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.mui-table-view-cell.mui-collapse>.mui-table-view-chevron {
	margin-left: 0;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
}

footer>button {
	float: left;
	height: 100%;
	text-align: center;
	border-radius: 0;
	border: 0;
	font-size: 16px;
	color: #fff;
}

footer>button.save {
	width: 100%;
}

.menu {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	z-index: 2;
	text-align: center;
}

.menu>span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-size: cover;
	transition: left .2s linear;
}

.menu>span:nth-of-type(1) {
	z-index: 3;
	color: #fff;
	font-size: 50px;
}

.menu>span:nth-of-type(2) {
	z-index: 2;
	left: 0;
	background-image: url(../images/nzp/wzlr.png);
}

.menu>span:nth-of-type(3) {
	z-index: 1;
	left: 0;
	background-image: url(../images/nzp/sm.png);
}

.menu.show>span:nth-of-type(2) {
	left: -60px;
}

.menu.show>span:nth-of-type(3) {
	left: -120px;
}